:root{
    --percentage: 0;
}

.aboutMeSection{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 100vh;
    background-color: #ffffff;
}

.aboutMeFlexWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.aboutMeTitleWrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 120px;
    border-radius: 0 0 100px 100px;
    background-color: #283647;
}

.aboutMeTitle{
    color: #ffffff;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}

.aboutMeImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    background: url('../images/me.png') center center no-repeat;
}

.aboutMeFlex50R, .aboutMeFlex50L{
    width: 70%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    h2, h4 {
        color: #283647;
        font-family: 'Raleway', sans-serif;
    }

    h2{
        margin-top: 20px;
        font-size: 25px;
    }

    h4 {
        line-height: 27px;
        text-align: center;
        font-weight: lighter;
        margin-top: 0;
    }
}

.aboutMeFlex50L{
    width: 30%;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
}

.aboutMeFlex50R {
    flex-wrap: wrap;
}

/////// ICONS STYLING RHS////////


.aboutMeIconWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33.3%;

    h1{
        color: #283647;
        font-family: 'Raleway', sans-serif;
    }
}

.aboutMeIcon{
    transition: all 1s;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px 20px 10px 20px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 2px 8px #aaa, inset 0px 2px 3px #fff;
    position: relative;
    cursor: pointer;
}

.aboutMePercentage{
    background-color: #283647;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeIcon:hover{
    border-radius: 5%;
}

.aboutMeIcon:hover > .aboutMePercentage {
    opacity: 0.8;

    h2{
        opacity: 1;
        color: #ffffff;
    }
}



@media (max-width: 1200px) {
    .aboutMeIconWrapper{
        width: 50%;
    }
}