.projectsWrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    perspective: 900px;
    background-color: #283647;
    margin-top: 40px;;
}

.projects{
    position: relative;
    background-color: #283647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: #283647;
        font-size: 45px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        margin-bottom: 10px;
    }
}

.projectsTitleWrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 120px;
    border-radius: 0 0 100px 100px;
    background-color: #ffffff;
}

.card{
    border-radius: 13px;
    position: relative;
    width: 300px;
    height:500px;
    margin: 20px;
    background-color: white;
    // shadow from css tricks
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    background-color: #283647;
    
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);    
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardBack{
    background-color: #283647;
    transform: rotateY(180deg);
    border-radius: 13px;
}

.cardImage{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 13px;
}

.cardTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.cardTitle{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
    margin: 0;
}