.projectsWrapper{
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3b4e6b;
    margin-top: 40px;
    margin-bottom: 60px;
}

.projects{
    position: relative;
    background-color: #3b4e6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: #3b4e6b;
        font-size: 32pt;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        margin-bottom: 10px;
        position: absolute;
        top: -135px;
    }
}

.projectsTitleWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 0 0 100px 100px;
    background-color: #3b4e6b;
    border-bottom: 100px solid transparent;
    border-left: 100vh solid transparent;
    border-top: 180px solid #fcfcfc;
    border-right: 100vh solid transparent;
}

.card{
    position: relative;
    width: 350px;
    height:300px;
    margin: 20px;
    display: flex;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    flex-direction: column;
    background-color: #3b4e6b;
    justify-content: center;
    align-items: center;
}

.card::after{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: #3b4e6b;
    font-weight: bold;
    opacity: 0;
    transition: linear 0.35s;
    content: "Tap to find more";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #ffffff;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.card:hover {
    .card-inner{
        transform: translateY(-30px) rotate(0deg) skew(0deg);
        box-shadow: 0 0 0 0 #ffffff;
    }
    
    .cardTitle {
        opacity: 1;
        animation-delay: 0.3s;
    }

    &::after {
        height: 15%;
        opacity: 0.8;
    }
}

.card-inner{
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    transform: rotate(-33deg) skew(20deg);
    box-shadow: -1px 1px 2px 2px #ffffff;
    transform-style: preserve-3d;
    transition: linear 0.35s;
    backface-visibility: hidden;
}

.cardImage{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 55px 55px;
    background-position: center center;
    border-radius: 13px;
}

.cardTitle{
    transition: linear 0.3s;
    opacity: 0;
    top: 30px;
    text-align: center;
}

.cardTitleText{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    position: relative;
    font-weight: lighter;
    font-size: 20px;
}