@import "./_variables";

footer{
    padding: 60px 0 50px 0;
    background-color: #1b242f;
    width: 100vw;
    flex-direction: column;
    position: relative;
}


.flexIconsContainer {
    @include flexCenterRow;
    width: 100%;

    .iconContainer{
        @include flexCenterRow;
        height: 50px;
        width: 50px;
        background-color: #283647;
        margin: 0 10px 0 10px;
        position: relative;
        cursor: pointer;
    }

    .iconContainer::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        width: 100%;
        height: 0;
        background-color: #4d83c4;
    }

    .iconContainer:hover::after,
    .iconContainer:active::after {
        height: 100%;
    }

    .iconContainer > img {
        z-index: 10;
    }
}

.copyright{
    width: 100%;
    margin-top: 10px;
    @include flexCenterRow;
}

.copyrightText{
    color: #3dc8c5;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;

    span{
        color:rgb(182, 176, 176);
        margin-left: 5px;
    }
}
