$primaryTextColor: #ffffff;
@mixin cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

:root {
    --greetingOpacity: 1;
    --greetingScale: 1;
}

.heroSection{
    width: 100vw;
    height: 100vh;
    position: fixed;
    text-align: center;

     .heroVideo, .heroHeaderWrapper {
        @include cover;
    }

    .heroVideo{
        object-fit: cover;
    }

    .heroHeaderWrapper{
        text-align: center;
        @include flexCenterColumn;
        opacity: 1;
        opacity: var(--greetingOpacity);
        transform: scale((var(--greetingScale)));
    }
}

.initialGreeting{
    color: $primaryTextColor;
    font-family: 'Raleway', sans-serif;
    font-size: 32pt;
    font-weight: lighter;
    margin-bottom: 10px; 
}


.initialGreetingName{
    color: $primaryTextColor;
    font-family: 'Raleway', sans-serif;
    font-size: 28pt;
    margin-top: 15px;
    font-weight: lighter;
}

.initialButton {
    border-radius: 4px;
    border: 2px solid  #ffffff;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
}

.initialButton::after {
    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #283647;
}

.initialButton:hover::after,
.initialButton:active::after {
    height: 100%;
    display: block;
}

.initialButton:hover {
    span{
        background: url('../images/arrow.svg') center center no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        left: calc(50% - 12px);
        animation: rotation 0.4s forwards;
        animation-delay: 0.3s;
        z-index: 10;
    }
}

@keyframes rotation {
    100%{
        transform: rotate(90deg);
    }

}

//small devices
@media (max-width: 768px) {
    .initialGreeting{
        font-size: 20pt;
        margin: 0 10px 10px 10px;
    }

    .initialGreetingName {
        font-size: 16pt;
        margin-bottom: 30px;
    }

    .initialButton {
        padding: 11px 11px;
        font-size: 10pt;
    }

    .initialButton:hover {
        span{
            background: url('../images/arrow.svg') center center no-repeat;
            width: 24px;
            height: 24px;
            position: absolute;
            left: calc(50% - 12px);
            animation: rotation 0.4s forwards;
            animation-delay: 0.3s;
            z-index: 10;
            background-size: 19px 19px;
        }
    }
}

