footer {
  padding: 60px 0 50px 0;
  background-color: #1b242f;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.flexIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.flexIconsContainer .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: 50px;
  background-color: #283647;
  margin: 0 10px 0 10px;
  position: relative;
  cursor: pointer;
}

.flexIconsContainer .iconContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  background-color: #4d83c4;
}

.flexIconsContainer .iconContainer:hover::after,
.flexIconsContainer .iconContainer:active::after {
  height: 100%;
}

.flexIconsContainer .iconContainer > img {
  z-index: 10;
}

.copyright {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.copyrightText {
  color: #3dc8c5;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
}

.copyrightText span {
  color: #b6b0b0;
  margin-left: 5px;
}

:root {
  --greetingOpacity: 1;
  --greetingScale: 1;
}

.heroSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
}

.heroSection .heroVideo, .heroSection .heroHeaderWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.heroSection .heroVideo {
  -o-object-fit: cover;
     object-fit: cover;
}

.heroSection .heroHeaderWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  opacity: var(--greetingOpacity);
  -webkit-transform: scale(var(--greetingScale));
          transform: scale(var(--greetingScale));
}

.initialGreeting {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 32pt;
  font-weight: lighter;
  margin-bottom: 10px;
}

.initialGreetingName {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  margin-top: 15px;
  font-weight: lighter;
}

.initialButton {
  border-radius: 4px;
  border: 2px solid  #ffffff;
  background-color: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
}

.initialButton::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #283647;
}

.initialButton:hover::after,
.initialButton:active::after {
  height: 100%;
  display: block;
}

.initialButton:hover span {
  background: url("../images/arrow.svg") center center no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  -webkit-animation: rotation 0.4s forwards;
          animation: rotation 0.4s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  z-index: 10;
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotation {
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  .initialGreeting {
    font-size: 20pt;
    margin: 0 10px 10px 10px;
  }
  .initialGreetingName {
    font-size: 16pt;
    margin-bottom: 30px;
  }
  .initialButton {
    padding: 11px 11px;
    font-size: 10pt;
  }
  .initialButton:hover span {
    background: url("../images/arrow.svg") center center no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: calc(50% - 12px);
    -webkit-animation: rotation 0.4s forwards;
            animation: rotation 0.4s forwards;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    z-index: 10;
    background-size: 19px 19px;
  }
}

.projectsWrapper {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #3b4e6b;
  margin-bottom: 60px;
}

.projects {
  position: relative;
  background-color: #3b4e6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects h1 {
  color: #3b4e6b;
  font-size: 32pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  position: absolute;
  top: -150px;
}

.projectsTitleWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0 0 100px 100px;
  border-bottom: 100px solid transparent;
  border-left: 100vh solid transparent;
  border-top: 270px solid #ffffff;
  border-right: 100vh solid transparent;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 350px;
  height: 300px;
  margin: 20px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #3b4e6b;
}

.cardConstruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 350px;
  height: 300px;
  margin: 20px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #3b4e6b;
}

.cardConstruction::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Raleway", sans-serif;
  color: #3b4e6b;
  font-weight: bold;
  opacity: 0;
  background: url("../images/underC.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 50% 20%;
  -webkit-transition: linear 0.35s;
  transition: linear 0.35s;
  content: "Under construction";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #ffffff;
}

.cardConstruction:hover .card-inner {
  -webkit-transform: translateY(-30px) rotate(0deg) skew(0deg);
          transform: translateY(-30px) rotate(0deg) skew(0deg);
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.cardConstruction:hover .cardTitle {
  opacity: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.cardConstruction:hover::after {
  height: 100%;
  opacity: 1;
}

.card::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Raleway", sans-serif;
  color: #3b4e6b;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: linear 0.35s;
  transition: linear 0.35s;
  content: "Tap to find more";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #ffffff;
}

.card:hover .card-inner {
  -webkit-transform: translateY(-30px) rotate(0deg) skew(0deg);
          transform: translateY(-30px) rotate(0deg) skew(0deg);
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.card:hover .cardTitle {
  opacity: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.card:hover::after {
  height: 15%;
  opacity: 1;
}

.card-inner {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-transform: rotate(-33deg) skew(20deg);
          transform: rotate(-33deg) skew(20deg);
  -webkit-box-shadow: -1px 1px 2px 2px #ffffff;
          box-shadow: -1px 1px 2px 2px #ffffff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: linear 0.35s;
  transition: linear 0.35s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 55px 55px;
  background-position: center center;
  border-radius: 13px;
}

.cardTitle {
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  opacity: 0;
  top: 30px;
  text-align: center;
}

.cardTitleText {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  position: relative;
  font-weight: lighter;
  font-size: 20px;
}

:root {
  --percentage: 0;
}

.aboutMeSection {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 100vh;
  background-color: #f5f5f5;
}

.aboutMePassions {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffffff;
  margin-top: 40px;
}

.aboutMeFlexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 70px;
}

.aboutMeTitleWrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
  border-radius: 0 0 100px 100px;
  background-color: #283647;
}

.aboutMeImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 0px 4px #aaa, inset 0px 0px 3px #fff;
          box-shadow: 0px 0px 4px #aaa, inset 0px 0px 3px #fff;
  background: url("../images/me.png") center center no-repeat;
}

.aboutMeFlex50R, .aboutMeFlex50L {
  width: 70%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutMeFlex50R h2, .aboutMeFlex50R p, .aboutMeFlex50L h2, .aboutMeFlex50L p {
  color: #414141;
  font-family: 'Raleway', sans-serif;
}

.aboutMeFlex50R h2, .aboutMeFlex50L h2 {
  margin-top: 20px;
  font-size: 25px;
}

.aboutMeFlex50R p, .aboutMeFlex50L p {
  line-height: 20pt;
  text-align: justify;
  font-weight: lighter;
  margin-top: 0;
}

.aboutMeFlex50L {
  width: 30%;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMeFlex50R {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.passionsImgWrapper {
  height: 400px;
  position: relative;
}

.passionsImgWrapper::before {
  content: "";
  width: 100%;
  height: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #283647;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.passionsImgWrapper h2 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  opacity: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
  z-index: 20;
  width: 100%;
  text-align: center;
}

.passionsImgWrapper:hover h2 {
  opacity: 1;
}

.passionsImgWrapper::after {
  content: "";
  width: 100%;
  height: 0;
  opacity: 0.5;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #283647;
  position: absolute;
  bottom: 0;
  left: 0;
}

.passionsImgWrapper:hover::before {
  height: 50%;
}

.passionsImgWrapper:hover::after {
  height: 50%;
}

.aboutMeIconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27%;
}

.aboutMeIconWrapper h1 {
  color: #ffffff;
  padding: 7px 15px 7px 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  background-color: #283647;
  border-radius: 5px;
}

.aboutMeIcon {
  -webkit-transition: ease-out 0.8s;
  transition: ease-out 0.8s;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 20px 10px 20px;
  position: relative;
  text-align: center;
  position: relative;
  cursor: pointer;
}

@media (max-width: 960px) {
  .aboutMeFlexWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMeFlex50L h2 {
    font-size: 26pt;
  }
  .aboutMeFlex50L p {
    font-size: 14pt;
  }
  .aboutMeFlex50R {
    margin-top: 20px;
    width: 90%;
  }
  .aboutMeIconWrapper {
    width: 33%;
  }
}

@media (max-width: 767px) {
  .aboutMeFlexWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMeFlex50L {
    width: 90%;
    padding-left: 0px;
  }
  .aboutMeFlex50L h2 {
    margin: 25px 10px 10px 10px;
    font-size: 20pt;
  }
  .aboutMeFlex50L p {
    line-height: 21pt;
    margin: 20px 10px 0 10px;
    font-size: 12pt;
  }
  .aboutMeFlex50R {
    width: 100%;
    margin: 35px 10px 0 10px;
  }
  .aboutMeFlex50R .aboutMeIconWrapper {
    width: 33%;
  }
  .aboutMeFlex50R .aboutMeIconWrapper h1 {
    font-size: 11pt;
    padding: 5px 15px 5px 15px;
  }
  .aboutMeFlex50R .aboutMeIcon {
    width: 50px;
    height: 50px;
  }
}

.modal {
  width: 900px;
  height: 650px;
  position: fixed;
  background: white;
  -webkit-box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 100px;
}

.modalHeaderWrapper {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  background-color: #365984;
}

.modalHeaderWrapper img {
  width: 200px;
  height: 200px;
}

.modalHeaderWrapper h2 {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.modalCloseCross {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 3px;
  height: 40px;
  width: 40px;
  left: 3px;
  color: #ffffff;
  cursor: pointer;
}

.modalRightFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
}

.modalRightDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
}

.modalRightDescription p {
  font-family: 'Raleway', sans-serif;
  padding: 0 20px 0 20px;
  color: #414141;
  text-align: justify;
  line-height: 20pt;
  font-size: 12pt;
  height: 40%;
}

.modalRightDescription h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 19pt;
  background-color: #365984;
  margin: 0;
  padding: 10px 0 10px 0;
  font-weight: 500;
  width: 100%;
  height: 10%;
}

.modalTechnologiesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30%;
}

.modalTechnologiesWrapper img {
  height: 70px;
  width: 70px;
  margin: 20px;
}

@media (max-width: 960px) {
  .modal {
    width: 800px;
    height: 600px;
  }
  .modalHeaderWrapper img {
    width: 170px;
    height: 170px;
  }
  .modalHeaderWrapper h2 {
    font-size: 14pt;
  }
  .modalRightDescription p {
    padding: 0 15px 0 15px;
    line-height: 16pt;
    font-size: 12pt;
    overflow-y: scroll;
  }
  .modalRightDescription p::-webkit-scrollbar {
    background-color: #cccccc;
    width: 8px;
  }
  .modalRightDescription p::-webkit-scrollbar-thumb {
    background-color: #365984;
    border-radius: 3px;
    height: 1px;
  }
  .modalRightDescription h1 {
    padding: 8px 0 8px 0;
    font-size: 14pt;
  }
  .modalTechnologiesWrapper img {
    height: 50px;
    width: 50px;
    margin: 20px;
  }
}

@media (max-width: 800px) {
  .modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 0px;
  }
  .modalHeaderWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 25%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .modalHeaderWrapper img {
    width: 130px;
    height: 80px;
    margin-top: 10px;
  }
  .modalHeaderWrapper h2 {
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
  }
  .modalRightFlex {
    width: 100%;
    height: 75%;
  }
  .modalTechnologiesWrapper {
    height: 40%;
  }
  .modalRightDescription h1 {
    padding: 16px 0 16px 0;
  }
}

@media (max-height: 750px) {
  .modalHeaderWrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 20%;
  }
  .modalHeaderWrapper img {
    margin-left: 10px;
  }
  .modalHeaderWrapper h2 {
    margin-bottom: 0px;
  }
  .modalCloseCross {
    top: calc(100% - 43px);
    left: calc(100% - 43px);
    color: #365984;
  }
  .modalRightFlex {
    height: 80%;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  height: 40%;
}

.slider img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 3rem;
  color: white;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 3rem;
  color: white;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.slide {
  opacity: 0;
  -webkit-transition-duration: 0.5s ease;
          transition-duration: 0.5s ease;
}

.slide-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.formWrapper {
  width: 100vw;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fcfcfc;
}

input, textarea {
  width: 60%;
  margin: 2px 0 2px 0;
  padding: 18px 28px;
  border: none;
  background-color: #3b4e6b;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

input:focus, textarea:focus {
  outline: #3dc8c5 auto 1px;
}

textarea {
  padding: 12px 28px 90px 28px;
  resize: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: lighter;
}

:-ms-input-placeholder {
  color: #ffffff;
  font-weight: lighter;
}

::-ms-input-placeholder {
  color: #ffffff;
  font-weight: lighter;
}

::placeholder {
  color: #ffffff;
  font-weight: lighter;
}

.form-icon {
  width: 35px;
  height: 35px;
  color: #ffffff;
}

.iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50px;
  height: 50px;
  background-color: #3dc8c5;
  padding: 12px 18px;
  margin-top: 20px;
  border-radius: 50%;
}

.contactTextWrapper {
  width: calc(600px * 0.6);
  padding: 12px 18px;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #575757;
  font-size: 14pt;
  line-height: 20pt;
  text-align: center;
}

label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button {
  background-color: #3dc8c5;
  padding: 12px 20px 12px 20px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  color: #2a2a2a;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: #3b4e6b auto 1px;
}

button:hover {
  background-color: #3b4e6b;
  color: #ffffff;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #3b4e6b;
  z-index: 1;
}

.navmenu .navMenuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navmenu .navMenuItems .navbarToggle {
  display: none;
}

.navmenu .navMenuItems li {
  padding: 8px 10px 8px 10px;
  margin: 0 2px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navmenu .navMenuItems li:hover {
  background-color: #f5f5f5;
}

.navmenu .navMenuItems li:hover a {
  color: #3b4e6b;
}

.navmenu .navMenuItems li a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  font-weight: bold;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.contentWrapper {
  margin-top: 100vh;
}

.arrowWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 80px;
  right: 70px;
  z-index: 1;
}

.arrowWrapper p {
  color: #3dc8c5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.arrowTop {
  -webkit-animation: bounce 1.5s cubic-bezier(0.28, 0.84, 0.42, 1);
          animation: bounce 1.5s cubic-bezier(0.28, 0.84, 0.42, 1);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  height: 45px;
  width: 45px;
  color: #3dc8c5;
  cursor: pointer;
}

.arrowTop:hover {
  color: #c74f16;
}

.arrowTop:hover + p {
  color: #c74f16;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
            transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
            transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@media (max-width: 767px) {
  .arrowWrapper {
    bottom: 10px;
    right: 10px;
  }
  .arrowWrapper p {
    font-size: 10pt;
  }
  .arrowTop {
    height: 35px;
    width: 35px;
  }
}
/*# sourceMappingURL=style.css.map */